# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor:not([mini])': [
    {
      'label': 'Connect'
      'command': 'tangle:connect'
    },
    {
      'label': 'Load File'
      'command': 'tangle:load-file'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tangle'
      'submenu': [
        {
          'label': 'Connect'
          'command': 'tangle:connect'
        },
        {
          'label': 'Load File'
          'command': 'tangle:load-file'
        }
      ]
    ]
  }
]
